body,html {
  height: 100%;
  margin: 0;
  color: white; 
  background-image: url('Images/Background.jpeg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Gothic A1', sans-serif, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(34, 34, 34, 0.5); /* Semi-transparent gray for aesthetics */
  position: relative; /* Contain absolutely positioned children */
}


h1 {
color: darkred; 
margin: 20px; 
text-align: center;
font-family: 'Gothic A1', sans-serif;
}


#game-background {
  display: flex; 
  flex-direction: column; 
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  height: 70%;
  rgba(34, 34, 34, 0.8);  /* Semi-transparent gray for aesthetics */
  padding: 20px
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  margin-bottom: 80px; /* Adjust spacing between game background and candle table */
  
}

#puzzle-area {
  display: grid;
  grid-template-columns: repeat(6, 60px); /* Ensure there are 6 columns */
  grid-template-rows: repeat(6, 60px); /* Ensuring 6 rows */
  grid-column-gap: 40px; /* Larger gaps between columns */
  grid-row-gap: 20px; /* Smaller gaps between rows */
  width: 100%; /* Full width of the game background */
  max-width: 600px; /* Set a max width to maintain design */
}

.grid-cell {
  width: 60px;  
  height: 60px;
  background-color: #333;
  border: 1px solid #222;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

#candle-table {
  width: 100%;  
  position: absolute;
  bottom: 5%;  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 600px;
  transform: translateX(-10px); /* Move the candle table 10px to the left */
  gap: 20px; /* Adjust the gap value as needed to increase space between candles */
}

.draggable {
  width: 90px; 
  height: 120px; 
  cursor: grab;
}

.placeholder
  width: 60px;
  height: 20px;  
  background-color: rgba(100, 100, 100, 0.5); 
}

#control-panel {
  width: 80%;
  padding: 20px;
  text-align: center
}